<div class="table-card">
  <h2>Pending Loan Officers</h2>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Officer Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let o of officers; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ o.fullName }}</td>
        <td>{{ o.email }}</td>
        <td><span class="pending">Pending</span></td>

        <td>
          <button class="approve" (click)="approve(o.userId)">Approve</button>
          <button class="reject" (click)="reject(o.userId)">Reject</button>
        </td>
      </tr>

      <tr *ngIf="officers.length === 0">
        <td colspan="5" class="empty">No pending officers</td>
      </tr>
    </tbody>
  </table>
</div>
