<div class="sidebar">
  <h2>LMS</h2>

  <a href="/admin" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" role="link">Dashboard</a>
  <a href="/admin/pending-officers" routerLink="/admin/pending-officers" routerLinkActive="active" role="link">Pending Officers</a>
  <a href="/admin/loan-types" routerLink="/admin/loan-types" routerLinkActive="active" role="link">Loan Types</a>
  <a href="/admin/customers" routerLink="/admin/customers" routerLinkActive="active" role="link">Customers</a>
  <a href="/admin/all-loans" routerLink="/admin/all-loans" routerLinkActive="active" role="link">All Loans</a>
  <a href="/admin/notifications" routerLink="/admin/notifications" routerLinkActive="active" role="link">Notifications</a>

  <div style="flex:1"></div>
  <a style="background:#ef4444;color:white">Logout</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
